---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PracticeGame from '../../components/practice/PracticeGame';
---

<BaseLayout title="Latihan">
  <main class="practice-screen">
    <PracticeGame client:load />
  </main>
</BaseLayout>

<style>
  .practice-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
</style>
