---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PuzzleGame from '../../components/puzzle/PuzzleGame';
---

<BaseLayout title="Puzzle">
  <div class="puzzle-wrapper">
    <PuzzleGame client:load />
  </div>
</BaseLayout>

<style>
  .puzzle-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
</style>
